asn.csv
asn.txt
asn_ip.db
asn_names.csv
delegated-afrinic-extended-latest
delegated-apnic-extended-latest
delegated-arin-extended-latest
delegated-lacnic-extended-latest
delegated-ripencc-extended-latest
ipv4.csv
caida_rv2_pfx2as
caida_rv2_pfx2as.csv
summary.csv
version.csv
